<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flow</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>

    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container nav">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="/">
                    <strong class="blue-text">Flow</strong>
                </a>

                <!-- Audio -->
                <ul class="navbar-nav nav-flex-icons mr-auto navbar-left">
                    <li class="nav-item">
                        <a class="nav-link" target="_blank">
                            <i class="fas fa-volume-up" style="font-size:40px;" id="playButton" ></i>
                        </a>
								<audio autoplay id="audioSrc" type="audio/wav" preload="auto"></audio>
                    </li>
                </ul>

                <!-- Add submission -->
                <ul class="navbar-nav nav-flex-icons navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/submit">
                            <i class="fas fa-plus" style="font-size:40px;"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- Navbar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <!--Section: Cards-->
            <section class="text-center">

                <!--Grid row-->
                <div class="row mb-4 wow fadeIn">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Endless Poem</h4>
                                <!--Text-->
                                <p class="card-text">
                                    Dawn comes later and later now,<br>
                                    and I, who only a month ago<br>
                                    could sit with coffee every morning<br>
                                    watching the light walk down the hill<br>
                                    to the edge of the pond and place<br>
                                    a doe there, shyly drinking,<br>
                                    <br><br>
                                    then see the light step out upon<br>
                                    the water, sowing reflections<br>
                                    to either side—a garden<br>
                                    of trees that grew as if by magic—<br>
                                    now see no more than my face,<br>
                                    mirrored by darkness, pale and odd,<br>
                                    <br><br>
                                    startled by time. While I slept,<br>
                                    night in its thick winter jacket<br>
                                    bridled the doe with a twist<br>
                                    of wet leaves and led her away,<br>
                                    then brought its black horse with harness<br>
                                    that creaked like a cricket, and turned<br>
                                    <br><br>
                                    the water garden under. I woke,<br>
                                    and at the waiting window found<br>
                                    the curtains open to my open face;<br>
                                    beyond me, darkness. And I,<br>
                                    who only wished to keep looking out,<br>
                                    must now keep looking in.<br>
                                </p>
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Endless Translation</h4>
                                <!--Text-->
                                <p class="card-text">
                                    Dawn comes later and later now,<br>
                                    and I, who only a month ago<br>
                                    could sit with coffee every morning<br>
                                    watching the light walk down the hill<br>
                                    to the edge of the pond and place<br>
                                    a doe there, shyly drinking,<br>
                                    <br><br>
                                    then see the light step out upon<br>
                                    the water, sowing reflections<br>
                                    to either side—a garden<br>
                                    of trees that grew as if by magic—<br>
                                    now see no more than my face,<br>
                                    mirrored by darkness, pale and odd,<br>
                                    <br><br>
                                    startled by time. While I slept,<br>
                                    night in its thick winter jacket<br>
                                    bridled the doe with a twist<br>
                                    of wet leaves and led her away,<br>
                                    then brought its black horse with harness<br>
                                    that creaked like a cricket, and turned<br>
                                    <br><br>
                                    the water garden under. I woke,<br>
                                    and at the waiting window found<br>
                                    the curtains open to my open face;<br>
                                    beyond me, darkness. And I,<br>
                                    who only wished to keep looking out,<br>
                                    must now keep looking in.<br>
                                </p>
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Cards-->

        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white" href="#" target="_blank" role="button">Flow VR App
                <i class="fas fa-external-link-alt ml-2"></i>
            </a>
            <a class="btn btn-outline-white" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank" role="button">Share Project
                <i class="fas fa-share-square ml-2"></i>
            </a>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            Created By: Nagare
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
	 <!-- Audio -->
	 <script type="text/javascript" src="js/audio.js"></script>
</body>

</html>