<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tayyar</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>

    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container nav">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="/">
                    <img src="/images/brand.png" height="42">
                </a>

            </div>
        </nav>
        <!-- Navbar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">
		  <h2 class="card-title"><b>Submit Your Poetry</b></h2>
		  <br>

		  <form action="/translate" method="POST">
			  <div class="form-group">
                  <h3>Your Contribuetry</h3>
				  <label for="originalText">Add your poetry to this ongoing global poem. Please only paste a single stanza at a time.</label>
				  <textarea class="form-control" name="stanza" id="originalText" rows="6"></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary" id="submitButton">Next</button>
			</form>
		  
        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white" href="#" target="_blank" role="button">Tayyar VR App
                <i class="fas fa-external-link-alt ml-2"></i>
            </a>
            <a class="btn btn-outline-white" href="https://github.com/nooralasa/flow/" target="_blank" role="button">Source Code
                <i class="fab fa-github ml-2"></i>
            </a>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            Created By: Noor Eddin Amer and Misha Jamy
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
</body>

</html>